{% extends 'layout.html' %}

{% block body %}
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Generos</th>
                <th>Sinopsis</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
                
                {% for peli in object_list %}
                <tr>
                    <td>{{ peli.nombre }}</td>
                    <td>{{ peli.direccion }}</td>  
                    <td>        
                {% for p in peli.genero.all %}
                    {{ p.nombre }}
                {% endfor %}
                </td>
                    <td>{{ peli.sinopsis }}</td>
                    <td>
                        <a class="btn" href="{% url 'pelicula:detalle' peli.pk %}">Detalle</a>
                        <a class="btn" href="{% url 'pelicula:editar' peli.pk %}">Editar</a>
                        <form action="{% url 'pelicula:eliminar' peli.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">Eliminar</button>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock body %}
    